<h2>Edit Employee</h2>

<%= render "form.html", changeset: @changeset, departments: @departments,
                        action: employee_path(@conn, :update, @employee) %>

<span><%= link "Back", to: employee_path(@conn, :index) %></span>
